{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<header class="flex items-center justify-between mb-4 p-4">
    <div class="flex-1 flex justify-center">
        <img src="{{ asset('images/logo1.png') }}" alt="Logo" class="h-40 w-40">
    </div>
    <div class="flex justify-end space-x-4">
        <a href="{{ path('app_article_index') }}" class="mr-2">Tous les articles</a>
        <a href="{{ path('app_login') }}">Se connecter</a>
    </div>
</header>

<div class="flex items-center justify-center">
    <div class="bg-gray-100 rounded-lg shadow-lg p-8 w-full max-w-sm mx-auto">
        <form method="post" class="bg-white rounded-lg shadow-md p-6 space-y-4">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}
            <h2 class="text-center text-xl font-semibold">Espace Admin</h2>
            <label for="inputEmail" class="block text-gray-700 text-sm font-bold mb-2">Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" autocomplete="email" required autofocus>
            <label for="inputPassword" class="block text-gray-700 text-sm font-bold mb-2">Password</label>
            <input type="password" name="password" id="inputPassword" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" autocomplete="current-password" required>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <button class="w-full mt-4 py-2 px-4 rounded bg-blue-500 text-white font-semibold hover:bg-blue-600" type="submit">
                Se connecter
            </button>
        </form>
    </div>
</div>
{% endblock %}
