{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}
<header class="flex items-center justify-between mb-8 p-6 bg-gray-100 shadow-md">
    <div class="flex-1 flex justify-center">
        <img src="{{ asset('images/logo1.png') }}" alt="Logo" class="h-32 w-32">
    </div>
    <div class="flex justify-end space-x-4">
        <a href="{{ path('app_dashboard') }}" class="text-blue-500 hover:text-blue-700 font-semibold">Tous les articles</a>
        <a href="{{ path('app_logout') }}" class="text-red-500 hover:text-red-700 font-semibold">Se déconnecter</a>
    </div>
</header>

<div class="container mx-auto p-6 bg-white shadow-lg rounded-lg">
    <h1 class="text-2xl font-bold mb-6 text-gray-800">Liste des Utilisateurs</h1>

    <table class="min-w-full bg-white border border-gray-200 rounded-lg">
        <thead>
            <tr class="bg-gray-100 text-left text-gray-700 uppercase text-sm leading-normal">
                <th class="py-3 px-6">Email</th>
                <th class="py-3 px-6">Rôle</th>
                <th class="py-3 px-6">Mot de passe</th>
                <th class="py-3 px-6">Prénom</th>
                <th class="py-3 px-6">Nom</th>
                <th class="py-3 px-6 text-right">Actions</th>
            </tr>
        </thead>
        <tbody class="text-gray-600 text-sm font-light">
        {% for user in users %}
            <tr class="border-b border-gray-200 hover:bg-gray-100">
                <td class="py-3 px-6">{{ user.email }}</td>
                <td class="py-3 px-6">{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td class="py-3 px-6">{{ user.password }}</td>
                <td class="py-3 px-6">{{ user.name }}</td>
                <td class="py-3 px-6">{{ user.lastname }}</td>
                <td class="py-3 px-6 text-right">
                    <a href="{{ path('app_user_show', {'id': user.id}) }}" class="text-blue-500 hover:text-blue-700 mr-4">Afficher</a>
                    <a href="{{ path('app_user_edit', {'id': user.id}) }}" class="text-yellow-500 hover:text-yellow-700">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6" class="text-center py-4 text-gray-500">Aucun utilisateur trouvé.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
