{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}
<header class="flex items-center justify-between mb-4 p-4">
    <div class="flex-1 flex justify-center">
        <img src="{{ asset('images/logo1.png') }}" alt="Logo" class="h-40 w-40">
    </div>
    <div class="flex justify-end space-x-4">
        <a href="{{ path('app_dashboard') }}" class="mr-2">Tous les articles</a>
        <a href="{{ path('app_logout') }}">Se déconnecter</a>
    </div>
</header>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Password</th>
                <th>Name</th>
                <th>Lastname</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.lastname }}</td>
                <td>
                    <a href="{{ path('app_user_show', {'id': user.id}) }}">show</a>
                    <a href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_user_new') }}">Create new</a>
{% endblock %}
